<!DOCTYPE html>
<html th:data-bs-theme="${theme}" lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Пользователи</title>
</head>

<head th:insert="blocks/head :: head"></head>

<body class="d-flex flex-column min-vh-100"
      style="background: url(&quot;/img/bg.jpg&quot;) no-repeat fixed;background-size: cover;">
<div th:insert="blocks/nav :: nav"></div>

<main class="page catalog-page mt-5">
    <section class="clean-block clean-catalog dark">
        <div class="container">
            <div class="block-heading text-center mb-5">
                <h2 class="text-primary">Пользователи</h2>
            </div>

            <div class="content rounded p-3">
                <div th:each="i : ${users}" th:if="${i.id != user.id}" class="card mb-2">
                    <div class="card-body p-2">
                        <form th:action="${'/users/' + i.id + '/edit'}" method="post" class="row">
                            <div class="col">
                                <input class="form-control" type="text" readonly th:value="${i.fio}">
                            </div>
                            <div class="col">
                                <select name="role" required class="form-select">
                                    <option th:each="role : ${roles}" th:value="${role}" th:label="${role.name}"
                                            th:selected="${role == i.role}"></option>
                                </select>
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-primary" type="submit">Обновить</button>
                            </div>
                            <div class="col-auto">
                                <a th:href="${'/users/' + i.id + '/delete'}" class="btn btn-danger">Удалить</a>
                            </div>
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </section>
</main>

<script src="/js/bootstrap.min.js"></script>


</body>

</html>